header {
    font-size: 300%;
    text-align: center;
    background-color: #B03A2E;
    color: white;
}

body {
    text-align: center;
    font-family: verdana;
    line-height: 3;
}

div {
    font-size: 150%;
}








