<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header>Add Completed Task</header>
        <form action="/addcompletedtasks" method="POST">
            <select name="completedTaskType">
                <option value="">Task Type</option>
                <option value="1">Cleaning</option>
                <option value="2">Stocking</option>
                <option value="3">Rotating</option>
                <option value="4">Ordering</option>
                <option value="5">Miscellaneous</option>
            </select><br/>
            <label>Name: <input type="text" name="completedTaskName" /></label><br/>
            <label>Notes: <input type="text" name="completedTaskNotes" /></label><br/>
            <button type="submit">Add New Completed Task</button>
        </form>
        <nav>
            <div>
                <a href="/listcompletedtasks">List of Completed Tasks</a>
            </div>
        </nav>
        <div th:replace="~{fragments :: home}"></div>
</body>
</html>