<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header>Add New Cocktail</header>
        <form action="/addnewcocktail" method="POST">
            <label>Name: <input type="text" name="newCocktailName" /></label><br/>
            <label>Description: <input type="text" name="newCocktailDescription" /></label><br/>
            <label>Ingredients: <input type="text" name="newCocktailIngredients" /></label><br/>
            <label>Recipe: <input type="text" name="newCocktailRecipe" /></label><br/>
            <button type="submit">Add New Cocktail</button>
        </form>
        <nav>
            <div>
                <a href="/listcocktails">List of Cocktails</a>
            </div>
        </nav>
        <div th:replace="~{fragments :: home}"></div>
</body>
</html>