<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header>Bar Helper</header>
        <nav>
            <div>
                <a href="/addtips">&#128184 Enter Tips &#128184</a>
            </div>
        </nav>
        <nav>
            <div>
                <a href="/addnewcocktail">&#127864 Add New Cocktail &#127864</a>
            </div>
        </nav>
        <nav>
            <div>
                <a href="/searchcocktails">&#129346 Search Cocktails &#129346</a>
            </div>
        </nav>
        <nav>
            <div>
                <a href="/listcocktails">&#127864 Cocktails List &#127864</a>
            </div>
        </nav>
        <nav>
            <div>
                <a href="/addtodotasks">&#128203 Add TODO Tasks &#128203</a>
            </div>
        </nav>
        <nav>
            <div>
                <a href="/listtodotasks">&#128203 TODO Tasks List &#128203</a>
            </div>
        </nav>
        <nav>
            <div>
                <a href="/addcompletedtasks">&#9989 Add Completed Tasks &#9989</a>
            </div>
        </nav>
        <nav>
            <div>
                <a href="/listcompletedtasks">&#9989 Completed Tasks List &#9989</a>
            </div>
        </nav>
</body>
</html>