<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header>Completed Tasks List</header>
        <p th:unless="${completedtasks} and ${completedtasks.size()}">
            You have not added any Completed tasks yet!
        </p>
        <div>
            <th:block th:each="task : ${completedtasks}">
                <li th:text="${task}"></li>
            </th:block>
        </div>
        <p><a href="/addcompletedtasks">Add Completed Tasks</a></p>

        <div th:replace="~{fragments :: home}"></div>
</body>
</html>